body{
    background: #4dbfd9;
    background: #94d8e8;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}

#wrapper{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

nav{
    background: #fff;
    border-bottom: 4px solid #45abc2;
    padding: 10px;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #45abc2;
    font-size: 20px;
    margin: 0 20px;
    text-shadow: 0 1px 0 #398;
}

header #logo{
    width: 400px;
}

header p{
    margin-right: 40px;
    margin-top: 60px;
    text-align: right;
    float: right;
    color: #fff;
    font-weight: 400;
    line-height: 35px;
    font-size: 25px;
    width: 550px;
    text-shadow: 0 1px 0 #287;
}